
<!-- Wrapper -->
<div class="wrapper style1">

  <!-- Header -->
  <div id="header" class="skel-panels-fixed">
    <div id="logo">
      <h1><a href="index.html">Phase Shift</a></h1>
      <span class="tag">by TEMPLATED</span>
    </div>
  </div>

  <!-- Banner -->
  <div id="banner" class="container">
    <section >
      <p>Looking for friendly childcare services in your local area? <strong>Look no further!</strong> We have over 10,000 <%= link_to "Childminders", childminders_path %>, <%= link_to "Babysitters", babysitters_path %> and <%= link_to "Nannies", nannies_path %></li> in your local area. Available on short notice, guaranteed to suit your family. All our registered caregivers are vetted to give you peace of mind. </p>
      <a href="#" class="button medium">View All</a>
    </section>
  </div>

  <!-- Extra -->
  <div id="extra">
    <div class="container">
      <div class="row no-collapse-1">
        <section class="4u"> <a href="#" class="image featured"><img src="images/girl6.jpg" alt=""></a>
          <div class="box">
            <p>Mariam lives in London, She is friendly and out going. Willing to take care of 2 children, available to travel if compensated.</p>
            <a href="#" class="button">Read More</a> </div>
          </section>
          <section class="4u"> <a href="#" class="image featured"><img src="images/girl5.jpeg" alt=""></a>
            <div class="box">
              <p>Dasily lives in Edinburgh, she is nice and playful. Available to do school pickups and after school care.</p>
              <a href="#" class="button">Read More</a> </div>
            </section>
            <section class="4u"> <a href="#" class="image featured"><img src="images/lady1.jpg" alt=""></a>
              <div class="box">
                <p>Dona lives in Fife, she is very resourceful. She has a level two in childcare and paediatric first-aid certificates</p>
                <a href="#" class="button">Read More</a> </div>
              </section>
            </div>
            <div class="row no-collapse-2">
              <section class="4u"> <a href="#" class="image featured"><img src="images/black-young-lady1.jpg" alt=""></a>
                <div class="box">
                  <p>Ada lives in Glasgow, she runs a home childcaring business and is happy do sleep overs</p>
                  <a href="#" class="button">Read More</a> </div>
                </section>
                <section class="4u"> <a href="#" class="image featured"><img src="images/lady8.jpg" alt=""></a>
                  <div class="box">
                    <p>.</p>
                    <a href="#" class="button">Read More</a> </div>
                  </section>
                  <section class="4u"> <a href="#" class="image featured"><img src="images/young-man3.jpg" alt=""></a>
                    <div class="box">
                      <p>Mark is a stay home dad of two beautiful girls and available to do child care if local.</p>
                      <a href="#" class="button">Read More</a> </div>
                    </section>
                  </div>
                </div>
              </div>

              <!-- Main -->
              <div id="main">
                <div class="container">
                  <div class="row"> 

                    <!-- Content -->
                    <div class="6u">
                      <section>
                        <ul class="style">
                          <li class="fa fa-wrench">
                            <h3>Health and wellbeing</h3>
                            <span>Every mum and dad wants the
                              best for their child. You’re the most
                              important people in their life and as much as you would love to be their all the time other commitments get in the way. Thats why we are focused on catering to the physical health and wellbeing of your child while you are away.</span> </li>
                              <li class="fa fa-leaf">
                                <h3>Learn and Play</h3>
                                <span>An active child has an active mind, that is why our care providers create a safe environment to encourge play, learning and development of your child. 
                                </span> </li>
                              </ul>
                            </section>
                          </div>
                          <div class="6u">
                            <section>
                              <ul class="style">
                                <li class="fa fa-cogs">
                                  <h3>Safety Guaranteed</h3>
                                  <span>All our Caregivers are properly vetted to ensure that you little one is in safe hand. In the unlikely even of a change in status such person's information is taken removed from our site. If you have any concerns please get in touch by sending us an emails or give us a call.</span> </li>
                                  <li class="fa fa-road">
                                    <h3>Friendly and Welcoming</h3>
                                    <span>We appreciate that choosing childcare is a huge decision. To help mitigate the effect of your absence, on you and your child our care providers are welcoming, fun and friendly. 
                                      .</span> </li>
                                    </ul>
                                  </section>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                        <!-- Footer -->
                        <div id="footer" class="wrapper style2">
                          <div class="container">
                            <section>
                              <header class="major">
                                <h2>Get in Touch</h2>
                                <span class="byline">We would love to here from you</span>
                              </header>
                              <form method="post" action="#">
                                <div class="row half">
                                  <div class="12u">
                                    <input class="text" type="text" name="name" id="name" placeholder="Name" />
                                  </div>
                                </div>
                                <div class="row half">
                                  <div class="12u">
                                    <input class="text" type="text" name="email" id="email" placeholder="Email" />
                                  </div>
                                </div>
                                <div class="row half">
                                  <div class="12u">
                                    <textarea name="message" id="message" placeholder="Message"></textarea>
                                  </div>
                                </div>
                                <div class="row half">
                                  <div class="12u">
                                    <ul class="actions">
                                      <li>
                                        <input type="submit" value="Send Message" class="button alt" />
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </form>
                            </section>
                          </div>
                        </div>

                        <!-- Copyright -->
                        <div id="copyright">
                          <div class="container">
                            <div class="copyright">
                              <p>Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</p>
